.content{
    padding: 85px 100px 0;
    mat-card {
        margin: 15px;
        span{
            float: right;
            margin-top: -40px;
            font-style: italic;
            color: red;
        }
    }
}