<app-header></app-header>

<div class="content">
    <h1>Római katolikus egyház</h1>
    <p>A mai római katolikus templom kezdetben magányos őrtorony volt, később kisebb méretű templom csatlakozott hozzá.
        Mai
        templomunk 1653-ban készülhetett el. A templom felszentelésének évére a bejárat feletti kőtáblába vésett 1653-as
        évszám enged következtetni. A templomot a Szentháromság tiszteletére szentelték fel.

        A mai templom építéséről semmilyen feljegyzés nem maradt ránk, így valószínűsíthető, hogy az őrtorony és a régi
        kisebb méretű templom átépítésével alakították ki mai formáját. Az átalakítási munkálatokat Czirner József
        lőcsei
        építőmester végezte. Dévald Kornél művészettörténész szerint: " A szentély és a hajója gótikus Árpád-kori
        templom
        maradványa" 1606-ban harangkészítésről tettek feljegyzést. 1662-ben két harang volt a toronyban. A harangozásért
        fizettek. Ezen az összegen a harangozó és az órás osztozott. Ekkor tehát már toronyóra is volt. A XIX. század
        közepén a vihar többször is megcsonkította a templom tornyát.
        1837 és 1856 között háromszor kényszerültek visszaállítani, így a torony 6-8 méterrel alacsonyabb lett. 1890-ben
        tűzvész pusztított a község ezen vidékén. Ekkor a templom tetőszerkezete leégett, az egyik harang megrepedt. Az
        újjáépítés során a tetőt tűzálló fedőanyaggal borították. A század végén három harang hívta imádkozni a község
        népét.

        1914-ben az I. világháború alatt a középső harangot elvitték, 1923-ban közadományokból készítették el helyére az
        új
        harangot. Ekkor tehát ismét három harang volt a mádi római katolikus templomban. 1937-ben a nagyobbik harang
        megrepedt, de egy évre rá újraöntötték.</p>
</div>